<head>
    <!-- Link to footer-specific styles -->
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer class="footer">
    <div class="footer-top">
        <div class="footer-column">
            <h5>Inspiration for future getaways</h5>
            <ul>
                <li><a href="#">Coastal</a></li>
                <li><a href="#">Historic</a></li>
                <li><a href="#">Islands</a></li>
                <li><a href="#">Lakes</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Categories</h5>
            <ul>
                <li><a href="#">Porto</a></li>
                <li><a href="#">Villa rentals</a></li>
                <li><a href="#">Menorca</a></li>
                <li><a href="#">Serviced apartment rentals</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Popular</h5>
            <ul>
                <li><a href="#">Windermere - Flat rentals</a></li>
                <li><a href="#">Bristol - House rentals</a></li>
                <li><a href="#">Coventry - Cabin rentals</a></li>
                <li><a href="#">Nottingham - Pet-friendly rentals</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Socials</h5>
            <div class="social-icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-info">
            <p>&copy; 2025 WanderLust Private Limited</p>
        </div>
        <div class="footer-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
