.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.2s, text-decoration 0.3s;
}

.footer-links a:hover {
    color: #fe424d !important;
    text-decoration: underline;
    text-shadow: 0 0 2px rgba(254, 66, 77, 0.5);
}
